@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 4, 57, 39; /* Plant/Forest Green */
  --background-end-rgb: 4, 57, 39; /* Plant/Forest Green */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 4, 57, 39; /* Plant/Forest Green */
    --background-end-rgb: 4, 57, 39; /* Plant/Forest Green */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

